body{
    background-color: rgb(21, 19, 19);
}


/* CCS for login container  */
.login_container{
    background-color: #F7CE38;
    width: 500px;
    height: 300px;
    border-radius: 2%;
}

/* CSS for the Question mark icon and h4 */
.content_container{
    background-color: #0E1F40;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 2%;
}

.lock_img{
    background-color: #E977F5;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 2px;
}

/* middle_section_css */
.middle_section_css{
    margin: 5px;
}


/* CSS style for inputs */
.input_container{
    display: flex;
    margin: 2px;
    justify-content: space-evenly;
}

input{
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    width: 50%;
    font-size: 20px;
}

/* Bottom section CSS */
.bottom_section_css{
    background-color: #FF3E9D;
    border-radius: 2%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

button{
    width: auto;
    height: 30px;
}

.error_message{
    color: red;
}

h4, p{
    color: #FF3E9D;
    font-weight: 900;
}